<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script>
      function StockController($scope) {
        var socket = io.connect();
        
        $scope.stocks = [];
        $scope.text = '';

        socket.on('connect', function () {
         //
        });

        socket.on('stock', function (stock) {
          alert(stock);
          $scope.stocks.push(stock);
          alert("Updated scope: " + $scope.stocks);
          $scope.$apply();
        });

        $scope.send = function send() {
          alert("SEND: " + $scope.text);
          console.log('Sending stock:', $scope.text);
          socket.emit('stock', $scope.text);
          $scope.text = '';
        };

      }
    </script>
  </head>
  <body>
    <div class="container" ng-controller="StockController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://www.github.com/zbay" class="brand">Zbay Industries</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>Stock Market Charter</h1>
      </div>
      <div class="row">
        <div class="span12">
          <h2>Tracked Stocks</h2>
                <div ng-repeat="stk in stocks" class="span3">
                  <span ng-bind="stk"></span>
                  <button ng-click="deleteStock()">X</button>
                </div>

              <br /><br />
          <div class="row controls">
            <form ng-submit="send()">
              <div class="input-append span7">
                <input type="text" class="span6" ng-model="text" placeholder="Stock symbol">
                <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>