<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Stock Market Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/main.css">
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
    'use strict';
    //test url: https://www.quandl.com/api/v3/datasets/WIKI/FB/data.json?start_date=2015-01-01&end_date=2016-01-01&column_index=4&exclude_column_names=true&order=asc&api_key=FA9U87SHeUggkweQ-hdU
           google.load("visualization", "1", {packages:["corechart"]});
        function StockController($scope) {
        var socket = io.connect();
        
        $scope.stocks = [];
        $scope.priceData = [];
        $scope.text = '';
        $scope.errorMsg = null;
        $scope.startDate = Date.parse("2015-01-01");
        $scope.endDate = Date.parse("2016-01-29");
        var cleanData = [];
        var baseAPIstart = "https://www.quandl.com/api/v3/datasets/WIKI/";
        var baseAPIend = "/data.json?start_date=2015-01-01&end_date=2016-01-29&column_index=4&exclude_column_names=true&order=asc&api_key=";
        var APIkey = "FA9U87SHeUggkweQ-hdU"

        socket.on('connect', function () {
         //socket.emit("renderChart", null);
        });

        socket.on('stock', function (stock) {
          $scope.errorMsg = null;
          if($scope.stocks.indexOf(stock) == -1){
            $scope.stocks[$scope.stocks.length] = stock;  
          }
          $scope.$apply();
        });
        
        socket.on('renderChart', function(){
          console.log("SHOULD BE RENDERING");
          $scope.renderStocks();
        });
        
        socket.on('stockDelete', function (stock) {
          
          if($scope.stocks.indexOf(stock) > -1){
             $scope.errorMsg = null;
                      
        $scope.stocks.splice($scope.stocks.indexOf(stock), 1);
         $scope.$apply(); 
       socket.emit("renderChart", null);
          }
          else{
            $scope.errorMsg = "That stock symbol is either invalid or redundant. Try again!";
          }
        });

        $scope.send = function send() {
          socket.emit('newStock', $scope.text);
          socket.emit('renderChart', null);
          $scope.text = '';
        };
        
        $scope.deleteStock = function deleteStock(stock){
          socket.emit('stockDelete', stock);
        }
        
        $scope.renderStocks = function renderStocks(){
           // console.log($scope.stocks + "---" + $scope.stocks.length);
            for(var i = 0; i < $scope.stocks.length; i++){
            var theStock = $scope.stocks[i];
            $.ajax({
              url: baseAPIstart + theStock + baseAPIend + APIkey,
              method: "GET",
              success: function(doc) {
                var stockDatums = doc.dataset_data.data;
                //console.log("DOC: " + stockDatums);
            if(cleanData.length == 0) { //First time through, with no dates yet in the dataset. Push date and price.
               for(var j = 0; j < stockDatums.length; j++) {
                  cleanData[j] = ([new Date(stockDatums[j][0]), stockDatums[j][1]]);
            if((i >= ($scope.stocks.length - 1)) && (j == stockDatums.length-1)){
           console.log("NORMALIZING");
           normalizeData();
         }
               }
            } else { //subsequent times through, where the date may overlap. Only push the price.
               for(var j = 0; j < stockDatums.length; j++) {
                   var date = new Date(stockDatums[j][0]).getTime();
                   var dateIndex;
                   for(var k = 0; k < cleanData.length; k++){
                       if(cleanData[k][0].getTime() == date){
                           dateIndex = k;
                       }
                   }
                  if(dateIndex && cleanData[dateIndex].length <= $scope.stocks.length) {
                     cleanData[dateIndex][i] = stockDatums[j][1];
                  }
                          if((i >= $scope.stocks.length - 1) && (j == stockDatums.length-1)){
           console.log("NORMALIZING");
           normalizeData();
         }
               }
            }
         }, error: function (request, textStatus, errorThrown) { 
            for(var j = 0; j < cleanData.length; j++){
                 console.log("CLEAN DATA BEFORE: " + cleanData[j]);
               cleanData[j][i] = null;
                console.log("CLEAN DATA AFTER: " + cleanData[j]);
                 if((i >= $scope.stocks.length - 1) && (j == cleanData.length-1)){
           //console.log("CLEANDATA: " + cleanData);
           console.log("NORMALIZING");
           normalizeData();
         }
            }
         }});
      }
        }
        
                function normalizeData(){   // ensure the proper number of columns
              for(var j = 0; j < cleanData.length; j++) {
                //console.log("COMPARE: " + cleanData[j].length + "---" + $scope.stocks.length);
                  while(cleanData[j].length <  $scope.stocks.length) {
                     cleanData[j].push(null);
                  }
                     while(cleanData[j] > $scope.stocks.length){
                       cleanData[j].pop();
                  }
                  if(j == cleanData.length-1){
                    console.log("DRAWING CHART");
                    drawChart();
                  }
        }
      function drawChart(){
        console.log(cleanData);
            var data = new google.visualization.DataTable();
            data.addColumn("date", 'Date');
           for(var i = 0; i < $scope.stocks.length; i++){
             data.addColumn("number", $scope.stocks[i]);
             console.log("Column added: " + $scope.stocks[i]);
             if(i == $scope.stocks.length - 1){
               console.log("TIME TO DRAW");
               for(var j = 0; j < cleanData.length; j++){
                 if(cleanData[j].length -1 == $scope.stocks.length){
                         //console.log("Adding row: " + cleanData[j]);
                        data.addRow(cleanData[j]); 
                 }
                 if(j == cleanData.length-1){
                   finishDrawing(data);
                 }
               }
             }
        }
      }
      function finishDrawing(data){
                     var options = {'title':"Stock Prices Over Time",
                       'width':1000,
                       'height':500,
                       'colors':['blue', 'green', 'purple', 'orange', 'black'],
                        'interpolateNulls': true,
                         'vAxis': {
                      'viewWindow': {
                        'min':0
                      }
                     },
                     'crosshair': { trigger: 'focus' }, 
                     'hAxis':{
                      'format': 'M/d/yy',
                     }
                      };
          var chart = new google.visualization.LineChart(document.getElementById('stockChart'));
        chart.draw(data, options); 
      }
        }
          }
    </script>
    <!-- <script src="/js/controllers/StockController.js"></script> -->
  </head>
  <body>
    <div class="container" ng-controller="StockController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://www.github.com/zbay" class="brand">Zbay Industries</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>Stock Market Tracker</h1>
      </div>
      <div id="stockChart"></div>
      <div class="row">
        <div class="span12">
          <h2>Tracked Stocks</h2>
                <div id="errorMessage" ng-disabled="!errorMsg" ng-bind="errorMsg"></div>
                <div ng-repeat="stock in stocks" class="span3 stockEntry">
                  <span ng-bind="stock"></span>
                  <button ng-click="deleteStock(stock)">X</button>
                </div>
          </div>
          </div>
              <br />
          <div class="row controls">
            <form ng-submit="send()">
              <div class="input-append span7">
                <input type="text" class="span6" ng-model="text" placeholder="Stock symbol">
                <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">
              </div>
            </form>
          </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>