          body {
        padding-top: 60px;
      }
      .stockEntry{
       padding-bottom:20px;
       padding-top:20px;
       text-align:center;
       margin-left:auto;
       margin-right:auto;
      }
      form{
        padding-top:20px;
        text-align:center;
        margin-left:auto;
        margin-right:auto;
      }
      #errorMessage{
        color:red;
      }
      .stockEntry{
        border: 3px solid black;
      }